<!doctype html>
<html>
  <head>
    <%- include('./layouts/head') %>
  </head>
  <body>
    <p>Dear <%= name %>,</p>

    <p>
      Thank you for contacting us. This email is to notify you that your message
      from the contact form is well received.
    </p>

    <p>
      <span>Here's the message we got from you:</span>
      <br />
      <span><%= message %></span>
    </p>

    <p>We will get back to you as soon as possible.</p>

    <div>
      If you have questions about this email or any other enquiry, please email
      us directly: <%= csEmail %>.
    </div>

    <p>
      <span>Best Regards,</span>
      <br />
      <span><%= sender %></span>
    </p>

    <br />
    <br />

    <p style="color: rgba(0, 0, 0, 0.5); font-size: 14px">
      *This is an email supported by Email.Service.Studio. Please do not reply.
    </p>
  </body>
  <footer>
    <%- include('./layouts/footer') %>
  </footer>
</html>
