<!doctype html>
<html>
  <head>
    <%- include('./layouts/head') %>
  </head>
  <body>
    <p>Dear <%= name %>,</p>

    <p>
      <span>Here's your one time password for verification:</span>
      <br />
      <span><%= otpContent %></span>
    </p>

    <p>Please follow the instructions on the website to continue.</p>

    <div>
      If you have questions about this email or any other enquiry, please email
      us directly: <%= contactEmail %>.
    </div>

    <p>
      <span>Best Regards,</span>
      <br />
      <span><%= sender %></span>
    </p>

    <br />
    <br />

    <p style="color: rgba(0, 0, 0, 0.5); font-size: 14px">
      *This is an email supported by Email.Service.Studio. Please do not reply.
    </p>
  </body>
  <footer><%- include('./layouts/footer') %></footer>
</html>
