<!doctype html>
<html>
  <head>
    <%- include('./layouts/head') %>
  </head>
  <body style="color:black; font-size: 16px;">
    <p>Dear <%= name %>,</p>

    <p>
      Thank you for contacting us. This email is to notify you that your message
      from the contact form is well received. We will get back to you as soon as possible.
    </p>

    <p>
      <span>Here's the message we got from you:</span>
      <br />
      <span><%= formContent %></span>
    </p>

    <div>
      If you have questions about this email or any other enquiries, please email
      us directly: <%= contactEmail %>.
    </div>

    <p>
      <span>Best Regards,</span>
      <br />
      <span><%= sender %></span>
    </p>

    <br />
    <br />

    <p style="color: rgba(0, 0, 0, 0.5); font-size: 14px">
      *This is an email supported by Email.Service.Studio. Please do not reply.
    </p>
  </body>
  <footer>
    <%- include('./layouts/footer') %>
  </footer>
</html>