<!doctype html>
<html>
  <head>
    <%- include('./layouts/head') %>
  </head>
  <body style="font-size: 16px; line-height: 22px">
    <p>Dear <%= name %>,</p>

    <p>
      <span>Here is your code for verification :</span>
    </p>

    <p>
      <span
        style="
          letter-spacing: 2px;
          font-size: 26px !important;
          font-weight: 500;
        "
        ><%= otpContent %></span
      >
    </p>

    <p>
      The code is valid for the next 15 minutes. Please follow the instructions
      on the website to continue.
    </p>

    <div>
      If you have questions about this email or any other enquiries, please
      email us directly: <%= contactEmail %>.
    </div>

    <p>Enjoy 100 Days Challenge Tracker :D</p>

    <p>
      <span>Best Regards,</span>
      <br />
      <span><%= sender %></span>
    </p>

    <br />
    <br />

    <p style="color: rgba(0, 0, 0, 0.5); font-size: 14px">
      *This is an email supported by Email.Service.Studio. Please do not reply.
    </p>
  </body>
  <footer><%- include('./layouts/footer') %></footer>
</html>
